#wrapper{
  width: 100%;
  height: 100%;
  padding: 50px 100px;
}
.dropdown-menu.multi-column {
  width: 600px;
}

.dropdown-menu.multi-column .menu-row{
  margin-left:0;
  margin-right:0;
  padding: 0 0;
}

.dropdown-menu.multi-column .dropdown-menu {
  display: block !important;
  position: static !important;
  margin: 0 !important;
  border: none !important;
  box-shadow: none !important;
  width: 200px;
  text-align: center;
}

.dropdown-menu.multi-column .dropdown-menu a{
  padding: 10px 0;
}

.dropdown-menu.multi-column .dropdown-menu a:hover{
  background-color: #fff;
  box-shadow: 0px 24px 3px -24px #333333;
  -webkit-box-shadow:  0px 24px 3px -24px #333333;
  -moz-box-shadow:  0px 24px 3px -24px #333333;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

button {
  font-size: 1em;
  font-family: Futura, Gill Sans, Helvetica, sans-serif;
  border-radius: 4px;
  background: white;
  border: 1px solid #ccc;
}

.title-label{
  font-weight:400;
  font-size:24px;
}
.navbar-barnd{vertical-align : middle;line-height:45px;}
.btn-primary.create {margin-top:10px;}